p {
    color: #000000;
  }
  
  em {
    color: #000000;
    font-style: italic;
  }
  
  article {
    background-color: #F5F5DC;
  }
  
  section {
    background-color: #F0E68C;
  }
  
  ul {
    color: #8B4513;
  }
  
  li {
    color: #8B4513;
  }
  
  strong {
    color: #8B0000;
  }
  hr {
    color: #8B4513;
    background-color: #8B4513;
    border: 0;
    height: 1px;
  }