@import "./reset.css";
@import "./themes/t_exercice1.css";

header{
    text-align: center;
    display: none;
    height: 10vh;
    align-self: center;
}

footer{
    display: none;
    justify-content: center;
    padding-top: 10px;
}

dt{
    font-weight: 700;
    text-transform: uppercase;
    padding-top: 10px;
}

li{
    list-style: square;
}

img{
    margin-top: 15px;
    height: 450px;
}

.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

.card > div{
    padding-right: 20px;
}

@media screen and (min-width: 640px) {   
    main{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    img{
        height: 250px;
    }
    .card{
        max-width: 450px;
        
    }
}

@media screen and (min-width: 800px) {
    header{
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
@media print {
    footer{
        display: flex;
    }
}
