@import "./reset.css";
@import "./themes/t_index.css";

header{
    text-align: center;
    padding-top: 20px;
    height: 20vh;
}
main{
    display: flex;
    justify-content: center;
    height: 50vh;
}
nav{
    width: 50%;
    display: block;
}
a{
    text-transform: uppercase;
    text-decoration: none;
    display: block;
    padding: 20px;
    margin: 10px 0;

}


footer{
    padding-top: 20px;
    text-align: center;
}
