@import "../reset.css";
@import "../themes/t_exercice2.css";

h1{
    font-size: 2em;
}
h2{
    font-size: 1.5em;
}
section,div{
    margin: 5px;
}

article > div{
    display: inline-block;
    vertical-align: top;
}
section > article div:nth-child(2){
    margin-left: 25%;
}
div:nth-child(n+3) > article:nth-child(1) > h3,
div:nth-child(n+3) > article:nth-child(1) > img,
div:nth-child(n+3) > article:nth-child(1) > ul,
div:nth-child(n+3) > article:nth-child(1) > p{
    display: inline-table;
    margin: 0 50px;
    vertical-align: middle;
}
ul{
    list-style: none;
    padding-inline-start: 0;
}
img{
    width: 100px;
    height: 120px;
}

